{% extends "layout.html" %}
{% block content %}

<style>
  * {
    box-sizing: border-box;
  }

  .flex-coffee-page {
    display: flex;
    flex-direction: row;
    font-size: 30px;
    text-align: center;
  }

  .flex-coffee-left,
  .flex-coffee-middle,
  .flex-coffee-right {
    padding: 10px;
    flex: 33.33%;
  }

  /* Responsive layout - makes a one column-layout instead of two-column layout */
  @media (max-width: 800px) {
    .flex-coffee-page {
      flex-direction: column;
    }
  }
  
  .slide {
    border: none;
    background-color: #f5f5f5;
  }

  p {
    font-size: 12pt;
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
  }
</style>

<h4>Coffee Process</h4>
<div class="flex-coffee-page">
  <!-- Coffee Section Left -->
  <div class="flex-coffee-left">
    <img src="../static/img/Mother Garden.jpg" width=100% />
    <h3>1-Mother Garden</h3>
    <p>
      Our mother garden consists of a variety of coffee seedlings. We have
      all 7 lines of coffee wilt disease resistant varieties and the
      traditional clones A-F.
    </p>
  </div>

  <!-- Coffee Section Middle -->
  <div class="flex-coffee-middle">
    <img src="../static/img/Cherry Picking.jpg" width=100% />
    <h3>2-Cherry Picking</h3>
    <p>
      Our mother garden consists of a variety of coffee seedlings. We have
      all 7 lines of coffee wilt disease resistant varieties and the
      traditional clones A-F.
    </p>
  </div>

  <!-- Coffee Section Right -->
  <div class="flex-coffee-right">
    <img src="../static/img/Wet Processing.jpg" width=100% />
    <h3>3-Wet Processing</h3>
    <p>
      Our mother garden consists of a variety of coffee seedlings. We have
      all 7 lines of coffee wilt disease resistant varieties and the
      traditional clones A-F.
    </p>
  </div>
</div>

<br />
<h4>Process Benefits</h4>
<div class="flex-coffee-page">
  <!-- Coffee Section Left -->
  <div class="flex-coffee-left">
    <h3>Clean Taste</h3>
    <p>
      Our process guarantees a cleaner and more consistent flavor than other
      methods.
    </p>
  </div>

  <!-- Coffee Section Middle -->
  <div class="flex-coffee-middle">
    <h3>Selective Picking</h3>
    <p>
      Only the ripest green cherries are picked for processing. This
      guarantees a higher acidity and gives a better taste.
    </p>
  </div>

  <!-- Coffee Section Right -->
  <div class="flex-coffee-right">
    <h3>Quality Control</h3>
    <p>
      It guarantees a great deal of quality control through selective
      picking and allows for a much more consistent flavor.
    </p>
  </div>
</div>

{% endblock %}