{% extends "layout.html" %}

{% block content %}

<!-- BOOKING -->
<form class="booking" action="{{ request.path }}" method="POST">
    <fieldset>
        <legend>Book A Trip</legend><label>Name:</label><br /><input id="name" type="text"
            name="name" /><br /><label>Email:</label><br /><input id="email" type="text"
            name="email" /><br /><label>Phone:</label><br /><input id="phone" type="text"
            name="phone" /><br /><label>Number of Guests:</label><br /><input id="guestNum" type="text"
            name="guestNum" /><br /><label>Type of Accommodation:</label><br /><input id="accommodationType" type="text"
            name="accommodationType" /><br /><label>CheckIn:</label><br /><input id="checkIn" type="date"
            name="checkIn" /><br /><label>CheckOut:</label><br /><input id="checkOut" type="date" name="checkOut" />
        <p></p><button class="btn btn-success submit" type="submit">Submit</button>
        <p><span id="message"></span></p>
    </fieldset>
</form>
{% endblock %}